@model PizzaBox.Client.Models.OrderViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="button">Customer</button>
    <button class="btn btn-primary" type="button">Store</button>
</div>
